<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Siew's Portfolio</title>
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'aboutme/style.css' %}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />



</head>
<body>
    <div class="container-fluid">
		<div class="section-above">
			<br />
			Hi, I am Siew Chong Che
		</div>
	</div>

	<div class="res"><img src="{% static "aboutme/images/my_photo_edit.gif" %}" alt="My Photo" /></div>

	<div class="container-fluid">
		<div class="section-below">
			<br /><br />
			<div style="padding:20px">Click the button below to see my personal project written in Python</div>
			<br />
			<a href="{% url 'aboutme:django' %}"><div class="button">Django</div></a>
			<div class="button">Rubik's Cube</div>
			<div class="button">Machine Learning</div>
			<div class="button">Data Science</div>
		</div>
	</div>
</body>
</html>